<body>
<h3 class="heading"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Profile</h3>
</div>
</div>

<div class="container-profile">

	<div class="row">
	<div class="col-sm-12">
		<%= image_tag 'profile-pic.jpg', class: "col-sm-3" %>

		
		<div id="title" class="col-sm-8">
			<h3>Contact</h3>
		
		<p><span class="contact-info">Name:</span> Liow Jen Nick</p>
		<p><span class="contact-info">Address:</span> 25, Jalan Radin 1, Taman Sri Endah, 57100 Kuala Lumpur</p>
		<p><span class="contact-info">Email:</span> liowj.nick@gmail.com</p>
		<p><span class="contact-info">H/P:</span> 012-3191601</p>

		<div class="img-container">
		<a href="https://www.facebook.com/liow.nick"><%= image_tag "facebook-logo.png", class: "logo" %></a>
		<a href="https://github.com/DarthPasta"><%= image_tag "github.png", class: "logo" %></a>
		</div>

	</div>
	</div>
	</div>

	<div class="row">
		<div id="title" class="col-sm-12">

	<h3>Summary</h3>
	</div>
	</div>

		<p>Currently 22 years old and graduated from my Bachelor's in International Hospitality Management. Half way through, I have developed a passion for Web Development and decided to learn more about it. Recently enrolled in a Coding Bootcamp to pursue my dream career of being a Web Developer.</p>

	<div class="row">
		<div id="title" class="col-sm-12">
	<h3>Objective</h3>
	</div>
	</div>
		<p>To be the best at what I do and as a result, creating a positive impact to the society.</p>

	<div class="row">
			<div id="title" class="col-sm-12">
		<h3>Skills</h3>
		</div>
		</div>
			<p>HTML, CSS, Javascript(Basic), JQuery, Ruby on Rails (CRUD, MVC, Postgresql, RESTful Routes), Heroku. Check out my Github account to see what I have done (click on the GitHub icon). Have experience in securing sales. Trained to provide the best service towards my clients/guests. I am willing to pickup any skills to get the job done.</p>


	</div>

</body>