<head>

</head>

<body>

<h3 class="heading"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> Work Experience</h3>
</div>
</div>

<div class="container">
	<div class="row">
	<div id="title" class="col-sm-10">
		<h3>Service Crew / Cashier</h3>
	</div>
	</div>

	<div class="row">
	<div id="location" class="col-sm-10">
	<h4>Tutti Frutti, Sri Petaling</h4>
	</div>
	</div>

	<div class="row">
	<div id="date" class="col-sm-12">
	<p>Jan 2013 - Mar 2013</p>
	</div>
	</div>

	<ul>
		<li>Cater to customers need.</li>
		<li>Replenishing toppings and frozen yogurt.</li>
		<li>Making sure cleanliness level of restaurant is up to standard.</li>
		<li>Receiving cash from guests.</li>
	</ul>
	</div>
</div>

<div class="container">
	<div class="row">
	<div id="title" class="col-sm-10">
	<h3>Room Service Attendant / Concierge Staff</h3>
	</div>
	</div>

	<div class="row">
	<div id="location" class="col-sm-10">
	<h4>Traders Hotel Kuala Lumpur</h4>
	</div>
	</div>

	<div class="row">
	<div id="date" class="col-sm-12">
	<p>Jan 2016 - Mar 2016</p>
	</div>
	</div>

	<div class="row">
	<div id="title" class="col-sm-10">
	<h4>Room Service Attendant</h4>
	</div>
	</div>
	  <ul>
		<li>Delivery of items to guest room.</li>
		<li>Inventory checking.</li>
		<li>Preparation of beverages.</li>
		<li>Cashier.</li>
		<li>Assist in SkyBar operations when needed.</li>
	  </ul>

	<div class="row">
	<div id="title" class="col-sm-10">
	<h4>Concierge Staff</h4>
	</div>
	</div>
	  <ul>
	  	<li>Luggage operations</li>
	  	<li>Answering questions from guests</li>
	  	<li>Delivery of messages to room</li>
	  	<li>Weekly training increases general knowledge of the area and operation skills</li>
	  	<li>Ensuring guests have a very good impression of the hotel.</li>
	  </ul>
</div>

<div class="container">
	<div class="row">
	<div id="title" class="col-sm-10">
	<h3>Service Crew</h3>
	</div>
	</div>

	<div class="row">
	<div id="title" class="col-sm-10">
	<h4>Pan & Tamper, Publika</h4>
	</div>
	</div>

	<div class="row">
	<div id="date" class="col-sm-12">
	<p>Jun 2016 - Aug 2016</p>
	</div>
	</div>
	  <ul>
	    <li>Catering to customers every need.</li>
	    <li>Taking order.</li>
	    <li>Cashier.</li>
	    <li>Producing beverages.</li>
	    <li>Setting up/Closing down restaurant.</li>
	    <li>Good product knowledge.</li>
	    <li>Stewarding duties</li>
	    <li>Creating a pleasant dining experience for guests</li>
	  </ul>
</div>

<div class="container">
	<div class="row">
	<div id="title" class="col-sm-10">
	<h3>Business Development Executive</h3>
	</div>
	</div>

	<div class="row">
	<div id="title" class="col-sm-10">
	<h4>What to Eat Delivery</h4>
	</div>
	</div>

	<div class="row">
	<div id="date" class="col-sm-12">
	<p>Jan 2017 - April 2017</p>
	</div>
	</div>
	  <ul>
	    <li>Securing deals with clients.</li>
	    <li>Utilize various methods to source for business leads.</li>
	    <li>Oversea the progress of each clients.</li>
	    <li>Troubleshooting.</li>
	    <li>Making sales pitch to convince client to sign up with our service.</li>
	    <li>Good product knowledge.</li>
	    <li>Handle customer complains.</li>
	  </ul>
</div>

</div>

</body>